body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #7723ca, #a712bf);
  color: #fff;
}

.header {
  color: #fff;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px; 
}

.btns {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: #9b59b6;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:link,
.btn:visited {
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
display: inline-block;
border-radius: 100px;
transition: all 0.2s;
}

.btn:hover {
background-color: #fff;
color: #000;
transform: translateY(-3px);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
transform: translateY(-1px);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-text:link,
.btn-text:visited {
font-size: 1.6rem;
text-decoration: none;
color: #f2cd5c;
display: inline-block;
border-bottom: 1px solid #f2cd5c;
padding: 3px;
transition: all 0.2s;
}

.btn-text:hover {
background-color: #f2cd5c;
color: #fff;
transform: translateY(-2px);
box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn-text:active {
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
transform: translateY(0px);
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
}

.organization-text {
  font-size: 1.2rem;
}

.navbtns {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.focus-heading {
  font-size: 5rem;
  color: #fff; 
  text-align: center;
  margin-top: 40px; 
}

.focus-heading span {
  display: block;
  margin-bottom: 10px;
}

.flex-form{
display: flex;
flex-direction: column;
align-items: center;
}

.flex-form-row{
display: flex;
justify-content: center;
}
